<div class="container">
<h1>CRUD Operation using Angualr 8</h1>

<form #MyForm = "ngForm">
  <div class="form-group">
    <label for="InputFullName">Full name</label>
    <input type="text" name="fullname" class="form-control" [(ngModel)]="userObje.fullname">
   
  </div>

  <div class="form-group">
    <label for="InputFullName">Email</label>
    <input type="email" name="email" class="form-control" [(ngModel)]="userObje.email">
   
  </div>

  <div class="form-group">
    <label for="InputFullName">Mobile</label>
    <input type="number" name="mobile" class="form-control" [(ngModel)]="userObje.mobile">
   
  </div>
  <div class="form-group">
    <label for="InputFullName">Password</label>
    <input type="password" name="password" class="form-control" [(ngModel)]="userObje.password">
   
  </div>

  <button type="button" *ngIf="!isEdit"class="btn btn-primary" (click)="Adduser(MyForm.value)">Submit</button>
  <button  type="button" *ngIf="isEdit" class="btn btn-primary">Update</button>


</form>

<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">Password</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let user of alluser">
    <td>{{user.fullname}}</td>
    <td>{{user.email}}</td>
    <td>{{user.mobile}}</td>
    <td>{{user.password}}</td>
    <td><button (click) = "editUser(user)" class="btn btn-warning">Edit</button></td>
    <td><button (click) = "deleteus(user)" class="btn btn-danger">delete</button></td>
  </tr>
  
  </tbody>
</table>
</div>


<router-outlet></router-outlet>
